<html>
    <head>
            <title> TeamUp </title>
            <h1 style="color:white;background-color:rgb(0, 140, 255);border-radius:10px;margin:50px;padding:20px">Random Teams Generation</h1>
    </head>

    <body style="background-color:rgb(179, 223, 250)">
            <form style="color:white;background-color:rgb(0, 140, 255);border-radius:10px;margin:50px;margin-right:1100px;padding:20px"action="/" method="POST"> 
                <br><div>TeamSize: <br><input type="text" name="teamsize"></input></div><br>
                <br><div>FileName: <br><input type="text" name="filename"></input></div><br>
                <br><div style="padding-left:50px"><input type="submit"></input></div>
            </form>
    </body>
<html>
